### Data Integration

### Concatenation

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame(
    {"A" : [1,2,3], "B":[0,9,8], "C":[2,6,0]}
)
df2 = pd.DataFrame(
    {"A" :[21,22,23], "B" : [10,19,18]}
)

In [3]:
#pd.concat()
row_concat = pd.concat([df1,df2], axis=0)
row_concat

    A   B    C
0   1   0  2.0
1   2   9  6.0
2   3   8  0.0
0  21  10  NaN
1  22  19  NaN
2  23  18  NaN

In [4]:
col_concat = pd.concat([df1,df2], axis=1)
col_concat

   A  B  C   A   B
0  1  0  2  21  10
1  2  9  6  22  19
2  3  8  0  23  18

### Merging

In [5]:
df1 = pd.DataFrame(
    {"key": ["A", "B", "C", "D"], "ins_val": [99, 56, 12, 55]}
)

df2 = pd.DataFrame(
    {"key": ["E", "B", "C", "Z"], "hel_ratio": [0.23, 0.88, 0.05, 0.99]}
)

In [6]:
df1

  key  ins_val
0   A       99
1   B       56
2   C       12
3   D       55

In [7]:
df2

  key  hel_ratio
0   E       0.23
1   B       0.88
2   C       0.05
3   Z       0.99

In [8]:
pd.merge(df1,df2, how= "inner", on= "key")

  key  ins_val  hel_ratio
0   B       56       0.88
1   C       12       0.05

In [9]:
pd.merge(df1,df2, how= "outer", on= "key")

  key  ins_val  hel_ratio
0   A     99.0        NaN
1   B     56.0       0.88
2   C     12.0       0.05
3   D     55.0        NaN
4   E      NaN       0.23
5   Z      NaN       0.99

In [10]:
pd.merge(df1,df2, how= "left", on= "key")

  key  ins_val  hel_ratio
0   A       99        NaN
1   B       56       0.88
2   C       12       0.05
3   D       55        NaN

In [11]:
pd.merge(df1,df2, how= "right", on= "key")

  key  ins_val  hel_ratio
0   E      NaN       0.23
1   B     56.0       0.88
2   C     12.0       0.05
3   Z      NaN       0.99

In [12]:
pd.merge(df1,df2, how= "inner", on= "key", suffixes=("_df1", "_df2"))

  key  ins_val  hel_ratio
0   B       56       0.88
1   C       12       0.05

### Joining

In [18]:
df1 = pd.DataFrame(
    {"key": ["A", "B", "C", "D"], "ins_val": [99, 56, 12, 55]}
)

df2 = pd.DataFrame(
    {"key": ["E", "B", "C", "Z"], "hel_ratio": [0.23, 0.88, 0.05, 0.99]}
)

In [19]:
df1.join(df2, lsuffix="_x")

  key_x  ins_val key  hel_ratio
0     A       99   E       0.23
1     B       56   B       0.88
2     C       12   C       0.05
3     D       55   Z       0.99

In [20]:
df1 = df1.set_index("key")
df2 = df2.set_index("key")

In [21]:
df1.join(df2, lsuffix="_x")

     ins_val  hel_ratio
key
A         99        NaN
B         56       0.88
C         12       0.05
D         55        NaN

In [23]:

df1.join(df2, how="inner")

     ins_val  hel_ratio
key
B         56       0.88
C         12       0.05

### Stacking

In [28]:
df1 = pd.DataFrame(
    {"A" : [1,2,3], "B":[0,9,8], "C":[2,6,0]}, index = ["x", "y", "z"]
)
# df2 = pd.DataFrame(
#     {"A" :[21,22,23], "B" : [10,19,18]}
# )

In [29]:
df1.stack()

x  A    1
   B    0
   C    2
y  A    2
   B    9
   C    6
z  A    3
   B    8
   C    0
dtype: int64

In [31]:
stacked = df1.stack()
stacked

x  A    1
   B    0
   C    2
y  A    2
   B    9
   C    6
z  A    3
   B    8
   C    0
dtype: int64