In [2]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# What's wrong with this line?
print(df.head())

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# What's wrong with this line?
print(df['Age'])

0    25
1    30
2    35
Name: Age, dtype: int64

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [6]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# What's wrong with this line?
df[df.Age == 30]

  Name  Age
1  Bob   30

In [10]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40]}
df = pd.DataFrame(data)
df
# filtered_df = df[df.Age > 30]

# # What's wrong with this line?
# print(filtered_df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [14]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40]}
df = pd.DataFrame(data)
df
filtered_df = df[df.Age > 30]

# What's wrong with this line?
filtered_df = filtered_df.reset_index(drop=True)
print(filtered_df)

      Name  Age
0  Charlie   35
1    David   40